@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --font-dv-inter: "Inter", sans-serif;
}

body {
  font-family: var(--font-dv-inter);
}

*,
*:before,
*:after {
  @apply cursor-default-taiyaki;
}

a,
button {
  @apply cursor-pointer-taiyaki;
}
